<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> The Tech Blog</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-title" href="/">The Tech Blog</a>
    <div class="navbar-collapse" id="navbarNavAltMarkup">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only"></span></a>
        <a class="nav-item nav-link" href="/dashboard">Dashboard</a>
        <a class="nav-item nav-link" href="login">Login</a>

        {{#if logged_in}}
            <a class="nav-item nav-link btn" id="logout" href="/">Logout</a>
        {{/if}}
    </div>
</nav>

                    
                </div>
            </div>
        </nav>



    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <div class="footer">
            <p class="footer-title">Thank you for contributing!</p>
        </div>
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}


</body>

</html>